<section id="hero">
    <div class="container">
        <div class="content-center-inicio">
            <h1 class="mt-5">Tu Nuevo Look al Mejor Precio‎</h1>
            <p>Descubre tu nuevo estilo con nuestros estilos unicos y diferentes, explora todos
                nuestros diseños y escoge el que mas te guste.
            </p>
            <a href="#" class="btn btn-warning mt-4" [routerLink]="['/productos']">Comprar ahora<img
                    src="../../../assets/images/arrow-right.svg" class="ml-2"></a>
        </div>
    </div>
</section>


    <div class="container">
        <div class="content-center">
            <h2>Sé diferente, <b>Sé unico</b></h2>
            <p>Conoce todos nuestros productos con estilos unicos y originales, y descubre tu nuevo look!!
            </p>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2>Urban Nice</h2>
                        </a>
                        <a href="#">
                            <p>— App/Digital Product</p>
                        </a>
                    </div>
                    <img src="../../../assets/images/producto1.jpg" class="img-fluid" alt="Portfolio 01">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2>New Horizons</h2>
                        </a>
                        <a href="#">
                            <p>— App/Digital Product</p>
                        </a>
                    </div>
                    <img src="../../../assets/images/producto2.jpg" class="img-fluid" alt="Portfolio 02">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2>Urban Black</h2>
                        </a>
                        <a href="#">
                            <p>— App/Digital Product</p>
                        </a>
                    </div>
                    <img src="../../../assets/images/producto4.jpg" class="img-fluid" alt="Portfolio 03">
                </div>
            </div>
            <div class="col-md-6">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2>Adidas white</h2>
                        </a>
                        <a href="#">
                            <p>— App/Digital Product</p>
                        </a>
                    </div>
                    <img src="../../../assets/images/producto5.jpg" class="img-fluid" alt="Portfolio 04">
                </div>
            </div>
            <div class="col-md-12">
                <div class="portfolio-container">
                    <div class="portfolio-details">
                        <a href="#">
                            <h2>Red Nais</h2>
                        </a>
                        <a href="#">
                            <p>— App/Digital Product</p>
                        </a>
                    </div>
                    <img src="../../../assets/images/producto3.jpg" class="img-fluid imagen-h" alt="Portfolio 04">
                </div>
            </div>
            <div class="content-center text-center mt-4">
                <p class="">Quieres ves mas estilos?</p>
                <a href="#" class="text-dark" [routerLink]="['/productos']"><b>Ver más</b></a>
            </div>
        </div>
    </div>

    <section id="team" class="bgLightGrey">
        <div class="container">
            <div class="content-center">
                <h2>Nuestro equipo</h2>
                <p>Somos un equipo de adictos al diseño totalmente comprometidos que trabajan en todo el mundo.
                    Damos nuestro mejor esfuerzo todos los días para ofrecer hermosos productos y brindar la mejor
                    experiencia posible.</p>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Carolina M. Rodríguez</h5>
                            <span>Profesional en negocios internacionales</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/instagram.svg"
                                            class="img-fluid"></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/twitter.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/youtube.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/dribbble.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/facebook.svg"
                                            class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="../../../assets/images/member-01.jpg" class="img-fluid" alt="member 1">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Veronica D. Manjarres</h5>
                            <span>Experta en marketing digital</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/instagram.svg"
                                            class="img-fluid"></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/twitter.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/youtube.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/dribbble.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/facebook.svg"
                                            class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="../../../assets/images/member-02.jpg" class="img-fluid" alt="member 2">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="member-container">
                        <div class="member-details">
                            <h5>Carlos M. Maldonado</h5>
                            <span>Desarrollador gráfico</span>
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/instagram.svg"
                                            class="img-fluid"></a>
                                </li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/twitter.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/youtube.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/dribbble.svg"
                                            class="img-fluid"></a></li>
                                <li class="list-inline-item"><a href="#"><img src="../../../assets/images/facebook.svg"
                                            class="img-fluid"></a></li>
                            </ul>
                        </div>
                        <img src="../../../assets/images/member-03.jpg" class="img-fluid" alt="member 3">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="testimonial" class="divider">
        <div class="container">
            <div class="content-center">
                <h2>Algunas palabras de <b>nuestros clientes...</b></h2>
                <p>Conoce algunos</p>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="carousel-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit
                                veniam
                                mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.
                            </p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3 col-3">
                                        <img src="../../../assets/images/member-01.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-9 col-9">
                                        <h6>Marissa Mayer</h6>
                                        <span>Yahoo CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit
                                veniam
                                mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.</p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3 col-3">
                                        <img src="../../../assets/images/member-02.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-9 col-9">
                                        <h6>Marry Barra</h6>
                                        <span>General Motors CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-container">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit
                                veniam
                                mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.</p>
                            <div class="rating">
                                <ul class="list-inline">
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                    <li class="list-inline-item"><i class="icon ion-md-star"></i></li>
                                </ul>
                            </div>
                            <div class="testimonial-user">
                                <div class="row">
                                    <div class="col-md-3 col-3">
                                        <img src="../../../assets/images/member-03.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-9 col-9">
                                        <h6>Elon Musk</h6>
                                        <span>Tesla CEO</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <div class="control-button">
                        <img src="../../../assets/images/arrow-borderless-left.svg" class="img-fluid">
                    </div>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <div class="control-button">
                        <img src="../../../assets/images/arrow-borderless-right.svg" class="img-fluid">
                    </div>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4">
                    <h3>Contáctanos y conoce todos <b>nuestros servicios.</b></h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui ea consequuntur, odit veniam
                        mollitia aliquam reiciendis dignissimos, vitae sapiente neque, cum dolorum.
                        contact@smarnice.com</p>
                </div>
                <div class="col-md-6 mt-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Nombre">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" id="" placeholder="Apellido">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" id="" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="number" class="form-control" id="" placeholder="Número de teléfono">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <a href="" class="btn btn-primary full-width">Contactanos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>